.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.chess-square {
  width: 100%;
  height: 100%;
}

.chess-piece {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .chess-board {
    grid-template-columns: repeat(4, 1fr);
  }
}